.menu {
    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    background-color: #F7F7F7;     /* Ajout de la couleur d&#39;arrière-plan */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */
}
.menu a {
    display: block;
    padding: 13px;
    transition: all .50s;
    font-weight: 500;
    color: #555;
}
.menu {
    position: relative;
    box-shadow: 3px 3px 1px #ddd;
    font-size: 13px;
    width: 1200px;
    margin: auto;
    text-transform: uppercase;
    border-bottom: 3px solid #E09711;
    border-top: 3px solid #E09711;
    height: 50px;
    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    background-color: #333333;     /* Ajout de la couleur d&#39;arrière-plan */
    justify-content: center     /* Alignements des liens dans le menu */
}
.menu a:hover {
  background-color: #E09711;
  color: #FFF;
  border-color: #FFF;
}
.menu a {
    color: #fff;
}
